.wrapper{
  font-size:16px;
  text-align: center;
}

.container {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-size: 0;
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  float: none;
  margin: 1.5%;
  width: 97%;
  max-width: 1400px;
}
.tile {
  z-index: 0;
  position: relative;
  display: inline-block;
  float: none;
  margin: 1.5%;
  padding: 0;
   max-width: 46.5%;
  height: 250px;
  width: 100%;
  text-align: center;
  background: #eee;
  overflow: hidden;
  transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
}
.tile:hover, .tile:focus {
  box-shadow: 0 10px 50px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.tile-quad {
  max-width: 30.3333%;
  height: 250px;
}
.tile figure {
  z-index: 0;
  margin: 0;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.tile:hover figure, .tile:focus figure {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.tile a {
  display: table;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  /*  background: rgba(0,0,0,.5); */
  transition: all .25s;
}

.tile a div {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2rem;
}
.tile h3 {
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  padding: 0 0 1rem;
  line-height: 1;
  font-weight: 700;
}
.tile p {
  margin: 0 auto;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  transition: opacity 0s, max-height 0s;
}

.tile a:hover p, .tile a:focus p {
  color: #fff;
  transition: all .5s;
}
.tile span {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: left;
  margin: 0;
  padding: 4rem 5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.color-red {
  background: rgba(255, 60, 78, 0.76);
}
.color-yellow {
  background: rgba(255, 185, 29, 0.76);
}
.color-green {
  background: rgba(35, 226, 94, 0.76);
}
.color-blue {
  background: rgba(49, 122, 255, 0.76);
}
.color-brown {
   background: rgb(140, 118, 96);
}
.color-aqua {
   background: rgba(48, 228, 212, 0.76);
}

@media screen and (max-width: 700px) {
  .tile,
  .tile:nth-child(2),
  .tile:nth-child(4),
  .tile:nth-child(6),
  .tile:nth-child(8) {
    max-width: 97%;
  }
