/**
 * @file
 * Subtheme specific CSS.
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);


 @media (max-width: 767px) {
  /* CSS goes here */
  .nav-item {
    display: flex;
    width: fit-content;
    width: 60%;
    /* height: 300px; */
    border: 1px solid black;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    background-color: #4d4d4e8c;
    align-items: center;
  }
  .navbar-nav .nav-link{
    padding: 10px;
    box-shadow: 0px 0px 0px 0px;
    border-width: 0;
    border-style: solid;
    color: white;
    margin-right: 5px;
  }
  .cart--cart-block{
    float:right;
  }

.navbar-nav {
  padding: 20px;
  padding-left: 0px;
}
.user-login-form, .page-user-login #block-bootstrap-barrio-subtheme-content{
  width:80%;
}

}




nav {
  max-width: 100%;
  margin: 0 auto;
}
.navbar {
    box-shadow: 0 2px 6px 0 rgba(32,33,36,0.28);

}
.block-menu{
  margin: 0;
  margin-right: auto;
  margin-left: 1.5em;
}
.navbar-collapse nav ul {
  text-align: center;

}

#block-bootstrap-barrio-subtheme-main-menu nav ul li {
  display: inline-block;
}

#block-bootstrap-barrio-subtheme-main-menu nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 14px;
  text-decoration: none;
  display: block;

}

nav ul li a:hover {
    color: #0090e4;
}


.nav-tabs .nav-link {
    border-radius: 0px;
}
.nav-link{
    box-shadow: 0px 7px 5px -2px rgba(255, 251, 251, 0.27);
    border-width: 0 0 3px;
    border-style: solid;
    border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 fill stretch;
    color: white;
    margin-right: 5px;
}
.nav-tabs > .nav-item > .nav-link{
    color: Black;
}
.nav-tabs > .nav-item > .nav-link a:hover{
    color: #0090e4;
}
.navbar-brand {
    color:#fff;
    font-weight: 500;
}


.jumbotron {
    min-height: 21em;
    margin-bottom: 0px;
    background: #793e3a; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #793e3a 0%, #170f3e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#793e3a), color-stop(100%,#170f3e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #793e3a 0%,#170f3e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #793e3a 0%,#170f3e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #793e3a 0%,#170f3e 100%); /* IE10+ */
    background: linear-gradient(45deg,  #793e3a 0%,#170f3e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793e3a', endColorstr='#170f3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .masthead .btn {
    padding: 11px 19px;
  }

  .masthead .btn [class^="icon-"] {
    margin-top: 7px;
  }

  .jumbotronResource {
    background: #47263C url(../images/hero-resource.jpg) no-repeat;
    filter: none;
    border-radius: 0px;
    background-size: cover;
  }

  .jumbotronMarketplace {
    background: #47263C url(../images/hero-unit4.jpg) no-repeat;
    filter: none;
    border-radius: 0px;
    background-size: cover;
  }
  .jumbotronFront{
    background: #47263C url(../images/hero-unit3.jpg) no-repeat;
    filter: none;
    border-radius: 0px;
    background-size: cover;
  }
  .jumbotronText{
      color:#fff;
  }

  .btn{
    border-radius: 0px;
  }

  .breadcrumb {

    padding: .1rem 1rem;
  }
.mainLogo{
  max-width:60px;
}
.feature-1 {

  padding: 30px;
  background: #50acc38a;
  background: #4E8BBF;
    color: white;
  min-height: calc(50% - 15px);
  top: 0;
  margin-bottom: 30px !important;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);

}



.feature-img-bg{
  background: #fff url(../images/pic1.jpg) no-repeat center;
  background-size: cover;
}



/**Partners Section**/
.text {
  z-index:2;
  position:absolute;
  color:white;
  top:20%;

  width: 100%;
}
.text>h1 {
  margin:auto;
}
.text >p {
  font-size: 1.5em;

}
.partner-head{

}
.partner-box{
  display: flex;
  align-items: center;
}

.gradient-container {
  /*Gradient Exported From - http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%2845deg\%2C\%20rgba\%2825\%2C153\%2C213\%2C1\%29\%200\%25\%2C\%20rgba\%2823\%2C135\%2C188\%2C1\%29\%2059\%25\%2C\%20rgba\%2854\%2C200\%2C237\%2C1\%29\%20100\%25\%29\%3B'*/
  background: rgba(25,153,213,1);
  background: -moz-linear-gradient(45deg, rgba(25,153,213,1) 0%, rgba(23,135,188,1) 59%, rgba(54,200,237,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(25,153,213,1)), color-stop(59%, rgba(23,135,188,1)), color-stop(100%, rgba(54,200,237,1)));
  background: -webkit-linear-gradient(45deg, rgba(25,153,213,1) 0%, rgba(23,135,188,1) 59%, rgba(54,200,237,1) 100%);
  background: -o-linear-gradient(45deg, rgba(25,153,213,1) 0%, rgba(23,135,188,1) 59%, rgba(54,200,237,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(25,153,213,1) 0%, rgba(23,135,188,1) 59%, rgba(54,200,237,1) 100%);
/*  background: linear-gradient(45deg, rgba(25,153,213,1) 0%, rgba(23,135,188,1) 59%, rgba(54,200,237,1) 100%);*/
  background: linear-gradient(45deg, rgb(23, 112, 128) 0%, rgba(80, 172, 195, 1) 59%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1999d5', endColorstr='#36c8ed', GradientType=1 );
  /* Sizing Below   */
  height: 60vh;
  overflow:hidden;
  position: relative;
  }



  .grid-background {
    opacity: 0.3;
    z-index: 1;
  }


  /*Animation */
  .slide-lines {
    bottom: 0;
    left: 0;
    position:absolute;
    right: 0;
    top: 0;
  }

  .line {
    background-color: white;
    position: absolute;
  }

  .hz-line {
  left: 0 ;
  height: 1px;
  width: 100%;
  }

  .vert-line {
    top: 0 ;
    height: 100%;
    width:1px
  }

  @keyframes right-line {
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes left-line{
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }


  }

  @keyframes up-line{
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }


  }

  @keyframes down-line{
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }


  }

  .hz-line:nth-child(1) {
    animation: right-line 4s ease-in-out infinite;
    top:20.5%;
    transform: translateX(-100%);
  }

  .hz-line:nth-child(2){
    animation:left-line 6s ease-in-out infinite;
    top:80.7%;
    transform: translate(100%);
  }
  .hz-line:nth-child(3){
    animation:left-line 5s ease-in-out infinite;
    top:90.9%;
    transform: translate(100%);
  }

  .vert-line:nth-child(4){
    animation: up-line 5s ease-in-out infinite;
    left:28.9%;
    transform: translateY(100%)
  }
  .vert-line:nth-child(5){
    animation: down-line 4s ease-in-out infinite;
    left:20.1%;
    transform: translateY(-100%);
  }

  .vert-line:nth-child(6){
    animation: down-line 4s ease-in-out infinite;
    left:69.8%;
    transform: translateY(-100%);
  }






  @import 'https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Lato|Open+Sans';


#footerSuga {
  background-color: #000000b5;
  color:#fdf6ee;

}
#footerSuga h1 { font-size:25px;
text-decoration: underline;}

#footerSuga h5 {font-size:16px; padding-top:5px; margin-bottom: 30px;}

#footerSuga h6 { font-size:20px; padding-top:5px;}

#footerSuga input {color:black; width:80%;padding:5px;}

#footerSuga input[type="submit"] {width:60%; margin-top:5px;margin-left:0;padding:6px;
  font-size: small; background-color:black; color:#fdf6ee;}

.leftSpace {padding-left:40px; padding-right:40px;}

.site-footer {
  padding: 1px 0 5px;
}

.image-style-large{
  width:100%;
  height:100%;
}
.knowledgeTitle{

}

.KnowledgeArea .views-field-title{
  padding: 10px;
  background-color: #e4e3e6;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  min-height: 4.3em;
}
.knowledgeImage{
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
}

.KnowledgeArea .views-col{
  padding:20px;
}

.KnowledgeArea .views-field-title:hover{
  box-shadow: 0px 10px 20px -6px rgba(33, 150, 243, 0.67);
}
.knowledgeImage:hover{

}
h1.title{
  font-size: 1.5rem;
}
.mainReadResArea{
  margin:auto;
}
.block-page-title-block{
  text-align: center;
}
.node__meta{
  margin:auto;
  text-align: right;
}
.KnowledgeArea{
  padding-top:2em;
  padding-bottom: 5em;
}


.container-fluid {
  padding:0px;
}

.path-knowledge-center .block-system-main-block{
  background-color: #d4d3d3;
}

.knowledgeImage {

  overflow: hidden;            /* clip the excess when child gets bigger than parent */
}

.knowledgeImage img{
  display: block;
  transition: transform .8s;
}

.knowledgeImage img:hover{

  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.button--add-to-cart, .commerce-order-item-add-to-cart-form .btn-primary{
  font-size: 13px;
     line-height: normal;
    background-color: #f0c14b;
    color: #111;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border-color: #a88734 #9c7e31 #846a29;
    display: inline-block;
    font-family: cursive;
}
.commerce-order-item-add-to-cart-form-commerce-product-3 .form-actions{
  padding:0px;
}
.view-ressect-marketplace p{
  font-size: small;
}
.view-ressect-marketplace .views-field-title{
  font-size: larger;
  font-weight: 600;
}
.view-ressect-marketplace .views-field-field-price-currency-code{
  float:left;
  margin-right: 5px;
  font-size: small;
}
.view-ressect-marketplace .views-field-field-price{
  font-weight: 600;
  font-size: larger;
}

.item-list ul li {
  padding:20px;
}
.navbar-toggler {

}
.navbar-toggler-icon {
  display: contents;
  color: antiquewhite;
  font-size: medium;
}
.navbar-toggler{
  box-shadow: 0px 7px 5px -2px rgba(255, 251, 251, 0.27);
  border-width: 0 0 3px;
  border-style: solid;
  border-color: #007bff;
}
.user-login-form{
  background-color: aliceblue;
  width: 50%;
  margin: auto;
}

.page-user-login #block-bootstrap-barrio-subtheme-content{
  background-color: aliceblue;
  width: 70%;
  margin: auto;
}
.page-user-register .section{
  margin:auto;
}
.view-id-ressect_marketplace .views-field-body{
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 3.6em;
}
.views-exposed-form{
  max-width: 83%;
  margin: auto;
}
.divButtonAddProduct{
  margin-bottom:20px;
}
.buttonAddProduct{
  margin:10px;
}

.taxonomyCategory{
    margin: 10px;
    float: left;


    z-index: 0;
    position: relative;
    display: inline-block;
    float: none;
    margin: 1.5%;
    padding: 0;
    max-width: 46.5%;
    height: 250px;
    width: 100%;
    text-align: center;
    background: #eee;
    overflow: hidden;
    transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
    transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
    transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);

    width: 100%;
    height: 100%;
    color: transparent;
    /* background: rgba(0,0,0,.5); */
    transition: all .25s;
}

.image-style-product-category-image-style{

  z-index: 0;
    margin: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}
#block-bootstrap-barrio-subtheme-account-menu{
  margin-left: auto;
  margin-right: 0;
}
ul.nav{
      padding-right: 5em;
}
ol li{
  list-style-type: none;

}
.introExplanationSec{
  max-width: 1000px;
    padding: 20px;
    background: #50acc38a;
    background: #ffffff;
    color: white;
    min-height: calc(50% - 15px);
    top: 0;
    margin-bottom: 30px !important;
    box-shadow: 0 0 0 15px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
    margin: auto;
}
