#section-feature{
  display: grid;
  background-color: #50ACC3;
  margin-right: 0px;
}

#section-feature ul {
  margin: 100px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#section-feature li {
  box-sizing: border-box;
  position: relative;
  height: 380px;
  padding: 2%;
  float: left;
  margin-bottom: 100px;
  user-select: none;
}
#section-feature .sf-wrap {
  background-repeat: no-repeat;
  position: absolute;
  max-width: 260px;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -140px;
  top: 0;
  perspective: 600px;
  cursor: pointer;
}

.sf-mdl-left, .sf-mdl-right, .sf-mdl-left-full, .sf-mdl-right-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}

.sf-icon {
  position: absolute;
  top: 90px;
  text-align: center;
  width: 100%;
  left: 0;
  width: 200%;
  color: #177080;
}

.sf-mdl-left-full .sf-icon, .sf-mdl-right-full .sf-icon {
  color: #fff;
}

.sf-mdl-right, .sf-mdl-right-full {
  left: auto;
  right: 0;
}

.sf-mdl-left-full, .sf-mdl-right-full {
  background-color: #F99526;
  z-index: 9;
  color: #fff;
}

.sf-wrap a {
  color: #fff;
  text-decoration: none;
  margin-top: 110px;
}

.sf-mdl-left, .sf-mdl-right {
  background-color: #fff;
  z-index: 10;
}

.sf-wrap > .sf-mdl-right-full {
  background-position: right -30px;
}
.sf-wrap > .sf-mdl-right {
  background-position: right -30px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotateY(0deg);
}
.sf-wrap > .sf-mdl-left-full {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotateY(0deg);
}
.sf-wrap.hover > .sf-mdl-right {
  transform: rotateY(-45deg);
  background-color: #ececec;
}
.sf-wrap > .sf-mdl-left-full {
  transform-origin: 100% 0;
  transform: rotateY(180deg);
}
.sf-wrap.active > .sf-mdl-right, .sf-wrap.hover.active > .sf-mdl-right {
  transform: rotateY(-180deg);
}
.sf-wrap.active > .sf-mdl-left-full {
  transform: rotateY(0deg);
}

.active .sf-mdl-left-full, .active .sf-mdl-right-full {
  z-index: 11;
}

.sf-wrap div h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  width: 200%;
  position: absolute;
  text-align: center;
  left: 0;
  top: 190px;
  text-shadow: 0 0 30px #000155;
}
.sf-wrap div p {
  width: 200%;
  position: absolute;
  text-align: center;
  left: 0;
  top: 190px;
  padding: 0 10%;
  line-height: 18px;
  font-size: 14px;
  top: 180px;
}
.sf-wrap div.sf-mdl-right h3, .sf-wrap div.sf-mdl-right-full h3, .sf-wrap div.sf-mdl-right p, .sf-wrap div.sf-mdl-right-full p {
  left: auto;
  right: 0;
}

.sf-mdl-right .sf-icon, .sf-mdl-right-full .sf-icon {
  left: auto;
  right: 0;
}

.sf-wrap div.sf-mdl-left-full h3, .sf-wrap div.sf-mdl-right-full h3 {
  top: 175px;
}

.sf-wrap p {
  margin-top: 55px;
}
.row {
  margin-right:0px;
}
