{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <nav class="tabs col-md-6" role="navigation" aria-label="{{ 'Tabs'|t }}" style="max-width: 70%;background-color: aliceblue;">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
